
body {
    background-color: #121212;
    color: white;
    padding: 40px;
    min-height: 100vh;
}

.profile-card {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: auto;
    text-align: center;
}

    .profile-card h2 {
        margin-bottom: 30px;
    }

.form-control {
    background-color: #2e2e2e;
    color: white;
    border: 1px solid #555;
}

.btn-edit {
    background-color: #007bff;
    border: none;
}

    .btn-edit:hover {
        background-color: #0056b3;
    }

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

